* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: calc(12px + 0.4vw + 0.2vh);
}

body {
    min-height: 100vh;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.header {
    padding: 0 0.5rem;
    font-size: 2rem;
}

.main {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.messageBox {
    display: flex;
    align-items: center;
    width: 20rem;
    height: 2rem;
    border: 0.1rem solid black;
    padding: 0 0.5rem;
}

.battleScreen {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-auto-flow: column;
    column-gap: 4rem;
    row-gap: 0.5rem;
    place-items: center;
}

.endScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    display: grid;
    place-items: center;
}

.restart.button {
    padding: 0.6rem 2rem;
    background-color: white;
    border: 0.1rem solid black;
    cursor: pointer;
    z-index: 3;
}

.startScreen {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 1;
    display: grid;
    align-content: space-evenly;
    justify-items: center;
}

.randomize.button {
    padding: 0.6rem 2rem;
    background-color: white;
    border: 0.1rem solid black;
    cursor: pointer;
    z-index: 2;
}

.start.button {
    padding: 0.6rem 2rem;
    background-color: white;
    border: 0.1rem solid black;
    cursor: pointer;
    z-index: 2;
}

.invisible {
    height: 0;
    width: 0;
    overflow: hidden;
}

.gameboard {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 2rem);
    grid-template-rows: repeat(10, 2rem);
    grid-auto-flow: row;
    border: 0.1rem solid black;
    background-color: white;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
    z-index: 2;
}

.unit {
    position: relative;
    border: 0.05rem solid grey;
}

.canDrop {
    background-color: palegreen;
}

.cannotDrop {
    background-image: url(./icon/block.svg);
    background-size: contain;
}

.Computer .unit {
    cursor: not-allowed;
}

.Computer .unit:empty {
    cursor: pointer;
}

.Computer .unit:empty:hover {
    background-image: url(./icon/shooting.svg);
    background-size: 1.8rem;
    background-position: center;
    background-repeat: no-repeat;
}

.ship {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: darkseagreen;
    border: 0 solid darkolivegreen;
}

.ship[draggable="true"] {
    cursor: grab;
    background-image: url(./icon/drag.svg);
    background-size: 1.2rem;
    background-repeat: no-repeat;
}

.dragging {
    display: none;
}

.Player .ship {
    border-width: 0.12rem;
}

.Player .ship.length-2.horizontal {
    width: calc(4rem - 0.06rem);
}

.Player .ship.length-3.horizontal {
    width: calc(6rem - 0.06rem);
}

.Player .ship.length-4.horizontal {
    width: calc(8rem - 0.06rem);
}

.Player .ship.length-2.vertical {
    height: calc(4rem - 0.06rem);
}

.Player .ship.length-3.vertical {
    height: calc(6rem - 0.06rem);
}

.Player .ship.length-4.vertical {
    height: calc(8rem - 0.06rem);
}

.Computer .head.horizontal {
    border-top-width: 0.12rem;
    border-left-width: 0.12rem;
    border-bottom-width: 0.12rem;
}

.Computer .head.vertical {
    border-left-width: 0.12rem;
    border-top-width: 0.12rem;
    border-right-width: 0.12rem;
}

.Computer .body.horizontal {
    border-top-width: 0.12rem;
    border-bottom-width: 0.12rem;
}

.Computer .body.vertical {
    border-left-width: 0.12rem;
    border-right-width: 0.12rem;
}

.Computer .tail.horizontal {
    border-top-width: 0.12rem;
    border-right-width: 0.12rem;
    border-bottom-width: 0.12rem;
}

.Computer .tail.vertical {
    border-left-width: 0.12rem;
    border-bottom-width: 0.12rem;
    border-right-width: 0.12rem;
}

.fire, .sea {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    background-position: center;
    background-size: contain;
}

.fire {
    background-image: url(./icon/fire.svg);
    background-size: 1.5rem;
    background-position: center;
    background-repeat: no-repeat;
}

.sea {
    background-image: url(./icon/sea.svg);
}
.ship.sunk {
    border-color: red;
    background-color: rosybrown;
}

.footer {
    padding: 0.4rem 0;
    font-size: 0.8rem;
}
